body {
	color: white;
	font-family: Helvetica;
}

#skin {
    background-image: url(woodtile.jpg);
    background-color: black;
}

nav {
    right: 0;
    font-size: 30px;
	/*border-top: 3px solid white;
	border-bottom: 3px solid white;
	/*background: rgba(0,0,0,0.8);*/
    color: #7f7f7f;
}

nav li {
    white-space: nowrap;
	margin-left: 30px;
    margin-right: 30px;
    padding-left: 5px;
    padding-right: 5px;
	text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 10;
}

nav li.focus {
    color: #ddd;
}

nav ul :not(:first-child) {
    border-top: 1px solid #444;
    padding-top: 10px;
}

nav ul :not(:last-child) {
    border-bottom: 1px solid #101010;
    padding-bottom: 10px;
}

.poster {
    margin-top:30px;
    height: 180px;
    width: 122px;
    -webkit-box-shadow: 0 0 30px #000;
    position:relative;
}

.summary {
	overflow-y:hidden;
	display: none;
}

.fanart {
	position: absolute;
	left:0;
	top:0;
	z-index: -1;
	background-color: black;
}

.fanart img {
	opacity: 0.14;
    margin-top: -40px;
}

    .poster img {
        height: 100%;
        width: 100%;
    }
    
	.titleGroup {
		
	}
	
	.title {
		font-size: 30px;
        line-height: 40px;
        margin-bottom:10px;
		font-weight: bold;
        background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
	}
	
	.year {
		font-size: 20px;
		margin-top: 20px;
		margin-left: 10px;
	}
    
    .metaGroup {
        
        font-size: 15px;
    }
    
    .flagGroup {
		
        font-size: 15px;
	}
	
    .metaGroup span,
    .flagGroup span {
        margin-right: 20px;
    }
    
	.summary {
		height: 310px;
		font-size:30px;
	}
	
	.fanart,
	.fanart img {
        width:1800px;
    }

	#skin,
    .background_opacity
	{
		width: 1920px;
		height: 1080px;
	}
	
	.band {
		top:300px;
        width: 1920px;
        height: 200px;
	}

#info {
    position: absolute;
    top: 50px;
    left: 360px;
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 30px;
    width: 1200px;
    height: 550px;
    font-size: 20px;
    line-height: 25px;
    display: hidden;
    -webkit-box-shadow: 0 0 30px #000;
}

#info .poster,
#info .titleGroup,
#info .summary,
#info .metaGroup,
#info .path,
#info .flagGroup {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#info .leftColumn {
    float: left;
    width: 250;
    display:block;
}

#info .rightColumn {
    float: left;
    min-width:920px;
    max-width:920px;
    margin-left: 30px;
    display:block;
}

#info .poster {
    padding-top: 0;
    margin-top: 0;
    width: 250px;
    height: 368px;
}

#info .summary {
    display: block;
    height: 240px;
    font-size: 20px;
    margin-top: 20px;
    padding-top: 20px;
    line-height: 24px;
    text-overflow: ellipsis;
    clear: both;
    text-align: justify;
}

#info .bottomLine {
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

#info .topLine {
    border-top: 1px solid #aaa;
    padding-top: 20px;
}

#info .metaGroup {
    float: left;
}

#info .flagGroup {
    float: right;
}

#info .title {
    font-weight: bold;
    
}

#info .titleGroup {
    float: left;
}

#info .genre {
    float: right;
}

#info .path {
    padding-top: 20px;
}

.clear {
    clear:both;
}

#info em {
    color: orange;
}

#main {
    position: absolute;
    top: 100px;
    left: 70px;
    -webkit-mask-box-image: url(mask.svg); 
    width: 1800px; 
    height: 910px; 
    overflow:hidden;
    background-color:black;
    z-index: 1;
}

.rightColumn,
.right {
    text-shadow: 1px 1px 2px #000;
}

.main_shadow {
    position: absolute;
    top: 120px;
    left: 70px;
    width: 1800px; 
    height: 890px;
    -webkit-box-shadow: 0 0 40px #000;
    -webkit-border-radius: 10px;
}

#main .rightColumn, 
#main .leftColumn {
    width: 798px;
    margin: 80px 0 40px 0;
    padding: 0 50px 0 50px;
    float: left;
    height: 780px;
    overflow: hidden;
}

#main .rightColumn {
    border-left: 1px solid rgba(255,255,255, 0.2);
}

#main .leftColumn {
    border-right: 2px solid #101010;
}

.background_opacity {
    background-color: rgba(0,0,0,0.7);
}

.right {
    float: left;
}

.left {
    float: left;
}