#controls {
   
    margin: 0 auto 0 auto;
 	height: 60px;
	width: 660px;
	border: 2px solid #ffffff;
	border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
}

#reX_control_wrapper {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.control_container {
	margin-left: 60px;
    clear: both;
}

.control_container li {
	margin:10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: transparent;
	color: white;
	font-size:20px;
	width: 100px;
	height: 40px;
	display: inline;
}

@font-face { 
	font-family: record; src: url('../fonts/record.ttf'); 
} 

@font-face { 
	font-family: appleSymbol; src: url('file:///System/Library/Fonts/Apple Symbols.ttf'); 
} 

.reX_play:before {
	font-family: record;
	content: '2';
}

.reX_pause:before {
	font-family: record;
	content: '1';}

.reX_stop:before {
	font-family: record;
	content: '3';
}

.reX_rewind:before {
	font-family: record;
	content: '5';
}

.reX_fastforward:before {
	font-family: record;
	content: '6';
}

.reX_previous:before {
	font-family: record;
	content: '7';
}

.reX_next:before {
	font-family: record;
	content: '8';
}

.test {
	font-family: appleSymbol;
}

#slider_container {
	background-color: rgba(255, 255, 255, 0.2);
	height: 10px;
	width: 500px;
	margin: 14px 0 10px 0;
	-webkit-border-radius: 5px;
    float:left;
}

#slider_knob {
	background-color: white;
	height: 10px;
	width: 10px;
	-webkit-border-radius: 5px;
}

#audio_container,
#sub_container {
    display: none;
    position: absolute;
    right: 30px;
    top: 30px;
    margin: 0 auto 0 auto;
	border: 2px solid #ffffff;
	border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
}

#audio li,
#subtitle li {
    margin:10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: transparent;
	color: white;
	font-size:20px;
	height: 40px;
}

#audio li.focus,
#subtitle li.focus,
.control_container li.focus
{
	color: orange;
}

section#info {
    display:none;
}

#seekTime {
    margin: 10px 0 10px 30px;
    width: 50px;
    overflow: hidden;
    float: left;
    color: white;
}

#duration {
    color: white;
    float: right;
    width: 50px;
    overflow: hidden;
    margin: 10px 30px 10px 0;
    text-align:right;
}
